//- mixin message
.message
    if info.length > 0
        .container
            .info
                .message-text= info
    if error.length > 0
        .container
            .error
                .message-text= error